body{
	background: blue;
}

h1{
	width: 500px;
	text-align: center;
	margin: 20px auto;
	font-family: Algerian;
	color: aquamarine;
	text-shadow: 0 0 100px black;
}

p{
	color: white;
	text-align: center;
	font-size: 10px: 
}

h1::after{
	content: '|';
	opacity: 1;
	margin: 5px;
	display: inline-block;
	animation: blink .7s infinite;
}

@keyframes blink{
	0%, 100%{
		opacity: 1;
	}
	50%{
		opacity: 0;
	}
}